/*** Reset ***/
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
body {
	background: #F1F1F1;
}

/*** HEADER ***/

header h1 {
    text-align: center;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*** CONTENEUR ***/

.conteneur {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneur p {
    margin-top: 5%;
    font-size: 25px;
    margin-bottom: 5%;;
}

.conteneur form {
    display: flex;
    flex-direction: column;
}

.conteneur form input {
    margin-bottom: 4%;
}